ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 1rem;
  background-color: lightblue;
  border-radius: 8px;
  margin-bottom: 2rem;
}

li {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

span {
  color: #222;
  font-weight: 500;
}